{% extends 'quotes/base.html' %}
{% block content %}

<!DOCKTYPE html>
<html>
<head>
    <title>Tag Details</title>
</head>
<body>

<h1>Details for Tag "{{ tag.name }}"</h1>

<p>Other details about the tag:</p>
<ul>
    <li>Tag name: {{ tag.name }}</li>
</ul>


<div class="quotes-by-tag">
    <h2>Quotes tagged as "{{ tag.name }}":</h2>
    <ul>
        {% for quote in tag.quote_set.all %}
            <li>{{ quote.quote }}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>

{% endblock %}